<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div
          class="d-sm-flex justify-content-between align-items-center page-title-box mt-4"
        >
          <div>
            <h4 class="fw-bold mb-sm-0 font-size-18">Transferts</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-xl-9">
        <div class="card">
          <div class="card-body">
            <form
              *ngIf="typeOperateur === 'ORANGE MONEY'"
              [formGroup]="orangeMoneyForm"
              (ngSubmit)="submitOrangeMoney()"
              novalidate
            >
              <h4 class="fw-bold mb-3">Paiement Orange Money</h4>

              <input
                type="text"
                class="form-control mb-3"
                formControlName="typePaiement"
                readonly
              />

              <input
                type="text"
                class="form-control mb-3"
                formControlName="numeroMobile"
                placeholder="Numéro Orange Money"
              />

              <input
                type="text"
                class="form-control mb-3"
                formControlName="nomCompte"
                placeholder="Nom du compte"
              />

              <input
                type="email"
                class="form-control mb-3"
                formControlName="emailBeneficiaire"
                placeholder="Email du bénéficiaire"
              />

              <div class="mb-3 d-flex">
                <select class="form-select w-25" formControlName="devise">
                  <option value="GNF">GNF</option>
                  <option value="USD">USD</option>
                </select>
                <input
                  type="number"
                  class="form-control"
                  formControlName="montant"
                  placeholder="Montant"
                />
              </div>

              <select class="form-select mb-3" formControlName="compteSource">
                <option value="7308054285">7308054285</option>
                <option value="7308057753">7308057753</option>
              </select>

              <input
                type="text"
                class="form-control mb-3"
                formControlName="objetTransfert"
                placeholder="Objet du paiement"
              />

              <button class="btn btn-primary" type="submit">Payer</button>
            </form>

            <form
              *ngIf="typeOperateur === 'MOBILE MONEY'"
              [formGroup]="mobileMoneyForm"
              (ngSubmit)="submitMobileMoney()"
              novalidate
            >
              <h4 class="fw-bold mb-3">Paiement Mobile Money</h4>

              <!-- TYPE TRANSACTION -->
              <div class="mb-3">
                <label class="form-label fw-bold required">
                  Type de transaction
                </label>

                <select class="form-select" formControlName="typeTransactionMM">
                  <option value="" disabled>-- Choisir --</option>
                  <option value="B2W">Banque → Mobile Money</option>
                  <option value="W2B">Mobile Money → Banque</option>
                </select>

                <small
                  class="text-danger"
                  *ngIf="
                    mobileMoneyForm.get('typeTransactionMM')?.touched &&
                    mobileMoneyForm.get('typeTransactionMM')?.invalid
                  "
                >
                  Champ obligatoire
                </small>
              </div>

              <!-- COMPTE -->
              <div class="mb-3">
                <label class="form-label fw-bold required">Compte</label>

                <select class="form-select" formControlName="compteSource">
                  <option value="" disabled>-- Choisir un compte --</option>
                  <option
                    *ngFor="let c of listeCompteClient"
                    [value]="c.vcAccountNumber"
                  >
                    {{ c.vcAccountNumber }}
                  </option>
                </select>

                <small
                  class="text-danger"
                  *ngIf="
                    mobileMoneyForm.get('compteSource')?.touched &&
                    mobileMoneyForm.get('compteSource')?.invalid
                  "
                >
                  Champ obligatoire
                </small>
              </div>

              <!-- TELEPHONE -->
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  formControlName="telephone"
                  placeholder="Numéro de téléphone"
                  maxlength="9"
                  (keydown)="onlyDigits($event)"
                  (paste)="onPaste($event)"
                />

                <small
                  class="text-danger"
                  *ngIf="
                    mobileMoneyForm.get('telephone')?.touched &&
                    mobileMoneyForm.get('telephone')?.invalid
                  "
                >
                  Numéro obligatoire et valide
                </small>
              </div>

              <!-- MONTANT -->
              <div class="mb-3">
                <input
                  type="number"
                  class="form-control"
                  formControlName="montant"
                  placeholder="Montant"
                />

                <small
                  class="text-danger"
                  *ngIf="
                    mobileMoneyForm.get('montant')?.touched &&
                    mobileMoneyForm.get('montant')?.invalid
                  "
                >
                  Montant obligatoire (> 0)
                </small>
              </div>

              <!-- FRAIS -->
              <!-- <div class="mb-3">
                <input
                  type="number"
                  class="form-control"
                  formControlName="frais"
                  placeholder="Frais"
                />

                <small
                  class="text-danger"
                  *ngIf="
                    mobileMoneyForm.get('frais')?.touched &&
                    mobileMoneyForm.get('frais')?.invalid
                  "
                >
                  Frais obligatoires
                </small>
              </div> -->

              <!-- DESCRIPTION -->
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  formControlName="description"
                  placeholder="Description"
                />

                <small
                  class="text-danger"
                  *ngIf="
                    mobileMoneyForm.get('description')?.touched &&
                    mobileMoneyForm.get('description')?.invalid
                  "
                >
                  Description obligatoire
                </small>
              </div>

              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="loadingMobileMoney"
              >
                {{ loadingMobileMoney ? "Paiement en cours..." : "Payer" }}
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3">
        <div class="card bg-light mb-4">
          <div class="card-body">
            <a href="#" class="custom-icon-container"
              ><img
                class="my-3"
                src="assets/img/images-bci/Icon-Info-BCI.svg?h=971d9075427a2ea3fd79b5880d5e839f"
            /></a>
            <h4 class="fw-bold text-center">
              Payez vos factures facilement&nbsp; !
            </h4>
            <p class="text-start mt-3">
              Grâce à notre service, réglez vos factures rapidement et sans
              complications, en toute simplicité. Profitez d’un paiement
              sécurisé, fiable et accessible à tout moment pour tous vos
              besoins.
            </p>
            <p class="text-start mt-3">
              Que ce soit pour vos factures d’électricité, d’eau ou autres
              services, BCI Guinée vous offre une solution pratique pour gagner
              du temps.
            </p>
            <p class="fw-semibold text-start mt-3">
              Un service conçu pour vous offrir rapidité, confort et sécurité,
              sans tracas ni files d'attente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: Page -->
