/* body {
  --primary-bg-color: #F7D9D9;
  --primary-text-color: #F25287;
  --main-bg-color: #F9F3F3;
}

body.dark {
  --primary-bg-color: #222831;
  --primary-text-color: #FFD369;
  --main-bg-color: #393E46;
} */
