 <!-- Start: Page -->
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-sm-flex justify-content-between align-items-center page-title-box mt-4">
                                <div>
                                    <h4 class="mb-sm-0 font-size-18 fw-bolder">Chargement de fichier</h4>
                                </div>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a><span>Transactions</span></a></li>
                                        <li class="breadcrumb-item active"><span>Chargement de fichier</span></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xl-9">
                            <div class="card">
                                <div class="card-body">
                                    <div class="p-4 border rounded">
                                        <div>
                                            <form action="#" class="dropzone">
                                                <div class="fallback"><input type="file" multiple="multiple" name="file"></div>
                                                <div class="dz-message needsclick">
                                                    <div class="mb-3"><i class="text-muted display-4 bx bx-cloud-upload"></i></div>
                                                    <h5>Déposez les fichiers ici ou cliquez pour télécharger.</h5>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="text-center mt-4"><button class="btn btn-primary waves-effect waves-light" type="submit">Charger</button><button class="btn btn-outline-dark waves-effect waves-light ms-2" type="submit">Annuler</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End: Page -->