.photo-square {
  width: 150px;
  height: 150px;
  border: 2px dashed #0d6efd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  background-color: #f8f9fa;
  margin: auto;
}

.photo-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-square i {
  font-size: 48px;
  color: #6c757d;
}


/* Structure du modal */
.modal-flex {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

/* Formulaire plein hauteur */
.modal-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Zone scrollable */
.modal-body-scroll {
  flex: 1 1 auto;
  overflow-y: auto;
}

/* Photo */
.photo-square {
  width: 160px;
  height: 160px;
  border: 2px dashed #0d6efd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.photo-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
