<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div
          class="d-sm-flex justify-content-between align-items-center page-title-box mt-4"
        >
          <div>
            <h4 class="fw-bold mb-sm-0 font-size-18">
              Paiements de factures {{ nomFacture }}
            </h4>
          </div>
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a><span>Transactions</span></a>
              </li>
              <li class="breadcrumb-item active">
                <span>Paiements de factures</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-xl-9">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-lg-6">
                <div class="card">
                  <div class="row g-0 align-items-center">
                    <div class="col-sm-6 col-md-4">
                      <img
                        class="img-fluid card-img"
                        [src]="
                          'https://dev-api-bcibankjs.ecash-guinee.com/api/webdav/read-image/' +
                          photoRecuperer
                        "
                        [alt]="nomFacture"
                      />
                    </div>
                    <div class="col-sm-6 col-md-8">
                      <div class="card-body">
                        <h5 class="fw-bold card-title">
                          {{ nomFacture }}
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ul
              class="nav nav-tabs"
              id="myTab"
              role="tablist"
              *ngIf="nomFacture?.trim() === 'EDG'"
            >
              <li class="nav-item" role="presentation">
                <button
                  #tabBtn
                  class="nav-link active"
                  id="prepaid-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#prepaid"
                  type="button"
                  role="tab"
                  aria-controls="prepaid"
                  aria-selected="true"
                  (shown.bs.tab)="onTabChange('prepaid')"
                >
                  Prepayé
                </button>
              </li>

              <li class="nav-item" role="presentation">
                <button
                  #tabBtn
                  class="nav-link"
                  id="postpaid-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#postpaid"
                  type="button"
                  role="tab"
                  aria-controls="postpaid"
                  aria-selected="false"
                  (shown.bs.tab)="onTabChange('postpaid')"
                >
                  Postpayé
                </button>
              </li>
            </ul>

            <div
              class="tab-content"
              id="myTabContent"
              *ngIf="nomFacture?.trim() === 'EDG'"
            >
              <!-- ========== PREPAYÉ ========== -->
              <div
                class="tab-pane fade show active"
                id="prepaid"
                role="tabpanel"
                aria-labelledby="prepaid-tab"
              >
                <form
                  *ngIf="paymentFormPrepayerEDG"
                  [formGroup]="paymentFormPrepayerEDG"
                  novalidate
                >
                  <!-- numéro de compteur -->
                  <div class="mb-3">
                    <label class="form-label fw-bold required">
                      Entrer le numéro de compteur
                    </label>

                    <input
                      type="text"
                      class="form-control"
                      formControlName="numeroCompteurPrepayer"
                      inputmode="numeric"
                      maxlength="11"
                      placeholder="Ex: 70006212859"
                      (input)="onlyNumbersPrepayer($event)"
                      (blur)="onCompteurBlurPrepayer()"
                    />
                  </div>

                  <!-- infos compteur -->
                  <div class="row mb-3" *ngIf="afficherInfosPrepayer">
                    <div class="col-md-6">
                      <div *ngIf="loadingEDGPrepayer" class="alert alert-info">
                        Vérification en cours...
                      </div>

                      <div
                        *ngIf="!loadingEDGPrepayer && !compteurValidePrepayer"
                        class="alert alert-danger"
                      >
                        Compteur invalide ❌
                      </div>

                      <div
                        *ngIf="!loadingEDGPrepayer && compteurValidePrepayer"
                        class="alert alert-success"
                      >
                        Compteur valide ✅
                      </div>

                      <div
                        *ngIf="compteurValidePrepayer && infosCompteurPrepayer"
                        class="info-grid mt-2"
                      >
                        <span class="label">Numéro de compteur :</span>
                        <span class="value">{{
                          infosCompteurPrepayer.ref_abonne
                        }}</span>

                        <span class="label">Nom du client :</span>
                        <span class="value">{{
                          infosCompteurPrepayer.nom_abonne
                        }}</span>

                        <span class="label">Frais Ecash :</span>
                        <span class="value">{{
                          btFeesIncluded ? "Inclus" : fraisNFeesEDG
                        }}</span>

                        <span class="label">Frais BANK :</span>
                        <span class="value">{{
                          btFeesIncluded ? "Inclus" : fraisNFeesBankEDG
                        }}</span>

                        <span class="label">Montant total :</span>
                        <span class="value">{{
                          montantTotalEDG | number
                        }}</span>
                      </div>

                      <hr
                        class="bg-light"
                        *ngIf="!loadingEDGPrepayer && compteurValidePrepayer"
                      />

                      <!-- compte débiteur -->
                      <div
                        class="mb-3"
                        *ngIf="compteurValidePrepayer && infosCompteurPrepayer"
                      >
                        <label class="form-label fw-bold text-body required">
                          Compte débiteur
                        </label>
                        <select
                          class="form-select-sm form-select w-100 mb-2"
                          formControlName="debitAccountEDG"
                          (change)="onDebitAccountSelectEDG($event)"
                        >
                          <option
                            *ngFor="let c of listeCompteClient"
                            [value]="c.vcAccountNumber"
                          >
                            {{ c.vcAccountNumber }}
                          </option>
                        </select>
                        <small style="font-size: 15px; margin-top: 20px">
                          Solde disponible :
                          <b class="text-success">
                            {{ soldeDebiteur | number: "1.2-2" }} {{ devise }}
                          </b>
                        </small>
                      </div>

                      <!-- montant -->
                      <div
                        class="row mb-3"
                        *ngIf="compteurValidePrepayer && infosCompteurPrepayer"
                      >
                        <div class="col-md-12 mb-3">
                          <label class="form-label fw-bold required"
                            >Montant</label
                          >
                          <input
                            type="text"
                            gnfNumberFormat
                            class="form-control"
                            formControlName="montantEDG"
                          />
                        </div>
                      </div>

                      <hr
                        class="bg-light"
                        *ngIf="compteurValidePrepayer && infosCompteurPrepayer"
                      />

                      <!-- boutons -->
                      <div
                        class="d-flex flex-wrap gap-2"
                        *ngIf="compteurValidePrepayer && infosCompteurPrepayer"
                      >
                        <button
                          class="btn btn-primary"
                          (click)="openModalOtp()"
                          [disabled]="
                            paymentFormPrepayerEDG.invalid || loadingPrepayerEDG
                          "
                        >
                          {{
                            loadiongConfirmeOtp
                              ? "Confirmation en cours..."
                              : "Confirmer"
                          }}
                        </button>

                        <button
                          class="btn btn-outline-primary"
                          type="button"
                          (click)="goBack()"
                        >
                          Retour
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <!-- MODAL OTP -->
              <div class="modal-backdrop-custom" *ngIf="modalOtp">
                <div class="modal-content-custom shadow-lg">
                  <h4 class="mb-3 text-center">Validation OTP</h4>
                  <p class="text-center text-muted">
                    Veuillez entrer le code à 4 chiffres
                  </p>

                  <div class="otp-container">
                    <div class="alert alert-info" role="alert">
                      <span
                        >Un code de vérification (OTP) a été envoyé à votre
                        adresse email.</span
                      >
                    </div>

                    <label class="form-label text-center w-100"
                      >Entrez votre code OTP</label
                    >
                    <div class="otp-inputs d-flex justify-content-center gap-2">
                      <ng-container
                        *ngFor="let item of [0, 1, 2, 3]; let i = index"
                      >
                        <input
                          class="form-control otp-input"
                          type="text"
                          maxlength="1"
                          pattern="[0-9]"
                          required
                          (input)="moveToNext($event, i)"
                          #otpInput
                          [(ngModel)]="otpValues[i]"
                          name="otp{{ i }}"
                        />
                      </ng-container>
                    </div>

                    <div class="text-center">
                      <small class="text-muted">Exemple : 1234</small>
                    </div>

                    <div class="alert alert-light" role="alert">
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <span>Vous n'avez pas reçu le code ?</span>
                        <button
                          (click)="reEnvoiOtp()"
                          class="btn btn-primary btn-sm"
                          type="button"
                          [disabled]="isLoadingRenvoyez"
                        >
                          <span
                            *ngIf="isLoadingRenvoyez"
                            class="spinner-border spinner-border-sm me-2"
                            role="status"
                            aria-hidden="true"
                          ></span>
                          {{ isLoadingRenvoyez ? "En cours..." : "Renvoyer" }}
                        </button>
                      </div>
                    </div>
                  </div>

                  <div
                    class="flex justify-between mt-4 d-flex justify-content-between"
                  >
                    <button
                      class="btn btn-outline-danger"
                      (click)="closeModalOtp()"
                    >
                      Annuler
                    </button>
                    <button
                      type="submit"
                      class="btn btn-primary"
                      [disabled]="!isOtpComplete() || isLoading"
                      (click)="verifyOtp()"
                    >
                      <span
                        *ngIf="isLoading"
                        class="spinner-border spinner-border-sm me-2"
                      ></span>
                      {{ isLoading ? "Vérification..." : "Valider le Code" }}
                    </button>
                  </div>
                </div>
              </div>

              <!-- ========== POSTPAYÉ ========== -->
              <div
                class="tab-pane fade"
                id="postpaid"
                role="tabpanel"
                aria-labelledby="postpaid-tab"
              >
                <form
                  *ngIf="paymentFormPostpayerEDG"
                  [formGroup]="paymentFormPostpayerEDG"
                  novalidate
                >
                  <div class="mb-3">
                    <label class="form-label fw-bold required">
                      Entrer le numéro de compteur
                    </label>

                    <input
                      type="text"
                      class="form-control"
                      formControlName="numeroCompteurPostpayer"
                      inputmode="numeric"
                      maxlength="11"
                      placeholder="Ex: 70006212859"
                      (input)="onlyNumbersPostpayer($event)"
                      (blur)="onCompteurBlurPostpayer()"
                    />
                  </div>

                  <div class="row mb-3" *ngIf="afficherInfosPostpayer">
                    <div class="col-md-12">
                      <div *ngIf="loadingEDGPostpayer" class="alert alert-info">
                        Vérification en cours...
                      </div>

                      <div
                        *ngIf="!loadingEDGPostpayer && !compteurValidePostpayer"
                        class="alert alert-danger"
                      >
                        Compteur invalide ❌
                      </div>

                      <div
                        *ngIf="!loadingEDGPostpayer && compteurValidePostpayer"
                        class="alert alert-success"
                      >
                        Compteur valide ✅
                      </div>

                      <div *ngIf="facturesCompteur.length > 0">
                        <h5>Factures :</h5>
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>Code facture</th>
                              <th>Date</th>
                              <th>Période</th>
                              <th>Nom client</th>
                              <th>Montant</th>
                              <th>Reste a payer</th>
                              <th>Nombre de paiements</th>
                              <th>Date limite</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let facture of facturesCompteur">
                              <td>{{ facture.code }}</td>
                              <td>{{ facture.date }}</td>
                              <td>{{ formatDateOper(facture.period) }}</td>
                              <td>{{ facture.name }}</td>
                              <td>{{ facture.amt | number: "1.0-0" }}</td>
                              <td>{{ facture.balance | number: "1.0-0" }}</td>
                              <td>{{ facture.pay_times }}</td>
                              <td>{{ facture.date_limit }}</td>
                              <td>{{ facture.status }}</td>
                              <td>
                                <button
                                  class="btn btn-sm btn-primary"
                                  (click)="openPostpayModal(facture)"
                                >
                                  Payer
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <!-- Modal Paiement Facture Postpayé -->
                        <div
                          class="modal fade"
                          id="postpayModal"
                          tabindex="-1"
                          aria-labelledby="postpayModalLabel"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="postpayModalLabel">
                                  Paiement facture EDG Postpayé
                                </h5>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>

                              <div class="modal-body">
                                <form
                                  [formGroup]="postpayModalForm"
                                  (ngSubmit)="verificationMontant()"
                                >
                                  <!-- Compte débiteur -->
                                  <div class="mb-3">
                                    <label class="form-label fw-bold required">
                                      Compte débiteur
                                    </label>
                                    <select
                                      class="form-select mb-2"
                                      formControlName="modalDebitAccountPost"
                                    >
                                      <option
                                        *ngFor="let c of listeCompteClient"
                                        [value]="c.vcAccountNumber"
                                      >
                                        {{ c.vcAccountNumber }}
                                      </option>
                                    </select>
                                    <small
                                      style="font-size: 15px"
                                    >
                                      Solde disponible :
                                      <b class="text-success">
                                        {{ soldeDebiteur | number: "1.2-2" }}
                                        {{ devise }}
                                      </b>
                                    </small>
                                  </div>

                                  <!-- Montant -->
                                  <div class="mb-3">
                                    <label class="form-label fw-bold required">
                                      Montant à payer
                                    </label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      formControlName="modalMontantPost"
                                      gnfNumberFormat
                                    />
                                  </div>

                                  <!-- Bouton Confirmer -->
                                  <button
                                    type="submit"
                                    class="btn btn-primary w-100"
                                    [disabled]="postpayModalForm.invalid"
                                  >
                                    {{
                                      loadingVerificationMontant
                                        ? "Confimation en cours"
                                        : "Confirmer"
                                    }}
                                  </button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div
              class="tab-content"
              id="myTabContent"
              *ngIf="nomFacture?.trim() === 'EDG COLLECTES'"
            >
              <form
                class="a-besoin-d-une-validation"
                [formGroup]="paymentForm"
                (ngSubmit)="submitPaiement()"
                novalidate
              >
                <div class="pb-3 pt-4">
                  <div class="row mb-3">
                    <div class="col-xl">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label
                              class="form-label fw-bold text-body required"
                              for="source-account"
                            >
                              Compte débiteur
                            </label>

                            <select
                              class="form-select-sm form-select w-100"
                              formControlName="debitAccount"
                              (change)="onDebitAccountSelect($event)"
                            >
                              <option
                                *ngFor="let c of listeCompteClient"
                                [value]="c.vcAccountNumber"
                              >
                                {{ c.vcAccountNumber }}
                              </option>
                            </select>

                            <div class="valid-feedback">Looks good!</div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label fw-bold required">
                              Facturier
                            </label>

                            <select
                              class="form-select"
                              formControlName="facturier"
                            >
                              <option [ngValue]="null">
                                -- Sélectionner --
                              </option>
                              <option
                                *ngFor="let f of facturiers"
                                [ngValue]="f"
                              >
                                {{ f.FacturierName }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label fw-bold required"> Montant </label>
                  <input
                    type="text"
                    gnfNumberFormat
                    class="form-control"
                    formControlName="amount"
                  />
                </div>

                <!-- NOTES -->
                <div class="mb-3">
                  <label class="form-label fw-bold required"> Notes </label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="notes"
                  />
                </div>

                <hr class="bg-light" />

                <div class="d-flex flex-wrap gap-2">
                  <button
                    class="btn btn-primary waves-effect waves-light"
                    type="submit"
                    [disabled]="paymentForm.invalid || loadingEdg"
                  >
                    {{ loadingEdg ? "Paiement en cours..." : "Payer" }}
                  </button>

                  <a
                    class="btn btn-outline-primary align-self-center waves-effect waves-light border-0"
                    role="button"
                    onclick="
                      window.history.go(-1);
                      return false;
                    "
                  >
                    Retour
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
