.info-grid {
  display: grid;
  gap: 0.5rem 0.2rem;                       /* espacement lignes / colonnes */
  align-items: center;                   /* aligne verticalement les lignes */
  max-width: 700px;
  margin: auto;
  font-size: 16px;
}

.label {
  font-weight: bold;
  color: #6c757d;
}

.value {
  color: #000;
}

#beneficiary-info span {
  display: inline-block;
  min-width: 150px; /* largeur fixe pour aligner les colonnes */
}


/* Container bouton aligné à droite */
  .form-actions {
    display: flex;
    justify-content: flex-end; /* aligne à droite */
    margin-top: 1rem;
  }

  .btn-suivant {
    background-color: #362a7a;
    color: white;
    width: 120px; /* largeur du bouton */
  }