<!-- Start: Page -->
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-sm-flex justify-content-between align-items-center page-title-box mt-4">
                    <div>
                        <h4 class="fw-bold mb-sm-0 font-size-18">Mode de paiement</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-xl-3">
                                <a routerLink="/modePaiment">
                                    <div class="card text-center h-100 d-flex flex-column">
                                        <img class="img-fluid card-img-top w-100 d-block" src="assets/img/orange1.png"
                                            alt="Card image cap" />
                                        <div class="card-body">
                                            <h5 class="fw-semibold font-size-16 mb-1">
                                                <a routerLink="/modePaiment" class="text-body">Orange money</a>
                                            </h5>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-6 col-xl-3">
                                <a routerLink="/modePaiment">
                                    <div class="card text-center h-100 d-flex flex-column">
                                        <img class="img-fluid card-img-top w-100 d-block" src="assets/img/mobile.jpg"
                                            alt="Card image cap" />
                                        <div class="card-body">
                                            <h5 class="fw-semibold font-size-16 mb-1">
                                                <a routerLink="/modePaiment" class="text-body">Mobile money</a>
                                            </h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="card bg-light mb-4">
                    <div class="card-body"><a href="#" class="custom-icon-container"><img class="my-3"
                                src="assets/img/images-bci/Icon-Info-BCI.svg?h=971d9075427a2ea3fd79b5880d5e839f"></a>
                        <h4 class="fw-bold text-center">Payez vos factures facilement&nbsp; !</h4>
                        <p class="text-start mt-3">Grâce à notre service, réglez vos factures rapidement et sans
                            complications, en toute simplicité. Profitez d’un paiement sécurisé, fiable et accessible à
                            tout moment pour tous vos besoins.</p>
                        <p class="text-start mt-3">Que ce soit pour vos factures d’électricité, d’eau ou autres
                            services, BCI Guinée vous offre une solution pratique pour gagner du temps.</p>
                        <p class="fw-semibold text-start mt-3">Un service conçu pour vous offrir rapidité, confort et
                            sécurité, sans tracas ni files d'attente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End: Page -->