/* Base */
@import 'ngx-toastr/toastr';



html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f6fa;
}


.toast-custom-center {
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 9999;
}



