 <!-- Start: Page -->
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-sm-flex justify-content-between align-items-center page-title-box mt-4">
                                <div>
                                    <h4 class="fw-bold mb-sm-0 font-size-18">Paiements de factures</h4>
                                </div>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a><span>Transactions</span></a></li>
                                        <li class="breadcrumb-item active"><span>Paiements de factures</span></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-xl-9">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="row g-0 align-items-center">
                                                    <div class="col-sm-6 col-md-4"><img class="img-fluid card-img" src="assets/img/factures/logoEDG.png?h=5b01d80a817cfe5e24aea24f610ca4c3" alt="Card image"></div>
                                                    <div class="col-sm-6 col-md-8">
                                                        <div class="card-body">
                                                            <h5 class="fw-bold card-title">Électricité de Guinée (EDG)</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="alertContainer"></div>
                                    <form id="paymentForm" class="a-besoin-d-une-validation" novalidate="">
                                        <div class="pb-3">
                                            <div class="row mb-3">
                                                <div class="col-xl">
                                                    <div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3"><label class="form-label fw-semibold text-body required" for="paymentOption">Votre numéro EDG :</label><select class="form-select form-select" id="paymentOption" required="" data-trigger="">
                                                                        <option value="">Sélectionnez une option</option>
                                                                        <option value="facture">Numéro de Facture</option>
                                                                        <option value="abonnement">Numéro d'Abonnement</option>
                                                                    </select>
                                                                    <div class="invalid-feedback"><span>Veuillez sélectionner une option.</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-xl">
                                                    <div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="d-none mb-3" id="factureInput"><label class="form-label fw-semibold text-body required" for="factureNumber">Numéro de Facture (13 chiffres) :</label><input class="form-control" type="text" id="factureNumber" maxlength="13" pattern="\d{13}" placeholder="Entrez votre numéro de facture">
                                                                    <div class="invalid-feedback"><span>Veuillez entrer un numéro de facture valide de 13 chiffres.</span></div>
                                                                </div>
                                                                <div class="d-none mb-3" id="abonnementInput"><label class="form-label fw-semibold text-body required" for="abonnementNumber">Numéro d'Abonnement (9 à 10 chiffres) :</label><input class="form-control form-control" type="text" id="abonnementNumber" maxlength="10" pattern="\d{9,10}" placeholder="Entrez votre numéro d'abonnement">
                                                                    <div class="invalid-feedback"><span>Veuillez entrer un numéro d'abonnement valide de 9 à 10 chiffres.</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-xl">
                                                    <div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3"><label class="form-label fw-semibold text-body" for="phoneNumber">Numéro de Téléphone (pour confirmation SMS) :</label><input class="form-control" type="tel" id="phoneNumber" pattern="^(\+?\d{1,3}[-.\s]?)?\d{9,13}$" placeholder="Entrez votre numéro de téléphone">
                                                                    <div class="invalid-feedback"><span>Veuillez entrer un numéro de téléphone valide.</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-xl">
                                                    <div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="d-none mt-4" id="factureDetails">
                                                                    <h4 class="fw-semibold card-title font-size-16 text-muted">&nbsp;Factures impayées</h4>
                                                                    <div class="row g-1" id="factureList"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-xl">
                                                    <div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3"><label class="form-label fw-bold text-body required" for="source-account">Compte Source</label><select data-bs-toggle="tooltip" data-bss-tooltip="" id="source-account" class="form-select" data-trigger="" name="compte-source" placeholder="Compte Source" title="exemple message">
                                                                        <option value="7308054285" selected="">7308054285</option>
                                                                        <option value="7308057753">7308057753</option>
                                                                    </select><span>Solde :&nbsp;<span>247 200 000 GNF</span></span>
                                                                    <div class="valid-feedback"><span> Looks good! </span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-xl">
                                                    <div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3"><label class="form-label fw-bold text-body required" for="remark">Objet du paiement</label><input class="form-control item" type="text" data-bs-toggle="tooltip" data-bss-tooltip="" id="remark" name="objet_du_transfert" title="exemple message" required="">
                                                                    <div class="valid-feedback"><span> Looks good! </span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="bg-light">
                                        <div class="d-flex flex-wrap gap-2"><button class="btn btn-primary waves-effect waves-light" data-bs-toggle="tooltip" data-bss-tooltip="" type="submit" title="Récapitulatif"> Payer </button><button class="btn btn-outline-primary waves-effect waves-light" data-bs-toggle="tooltip" data-bss-tooltip="" type="reset" title="Réinitialiser le formulaire"> Annuler </button><a class="btn btn-outline-primary align-self-center waves-effect waves-light border-0" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" title="Annule toutes les modifications non sauvegardées et retourne à la page précédente." onclick="window.history.go(-1); return false;" action="action" value="Cancel">Retour</a></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xl-3">
                            <div class="card bg-light mb-4">
                                <div class="card-body"><a href="#" class="custom-icon-container"><img class="my-3" src="assets/img/images-bci/Icon-Info-BCI.svg?h=971d9075427a2ea3fd79b5880d5e839f"></a>
                                    <h4 class="fw-bold text-center">Payez vos factures facilement&nbsp; !</h4>
                                    <p class="text-start mt-3">Grâce à notre service, réglez vos factures rapidement et sans complications, en toute simplicité. Profitez d’un paiement sécurisé, fiable et accessible à tout moment pour tous vos besoins.</p>
                                    <p class="text-start mt-3">Que ce soit pour vos factures d’électricité, d’eau ou autres services, BCI Guinée vous offre une solution pratique pour gagner du temps.</p>
                                    <p class="fw-semibold text-start mt-3">Un service conçu pour vous offrir rapidité, confort et sécurité, sans tracas ni files d'attente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End: Page -->